body{
	background: #C7C7C8;
}
.section-register{
	max-width: 800px;
	margin: 40px auto;
	padding: 10px;
	background: white;
	border-radius: 10px;
}
.titulo-register{
	max-width: 400px;
	margin: 20px auto;
	padding: 5px; 
}
.form-register{
	max-width: 600px;
    padding: 15px;
    margin: 0 auto;
}
.form-register .form-control{
	font-size: 16px;
    height: auto;
    padding: 10px;
}
.form-register .control-label{
	text-align: left;
}
.usuario-label{
	color: white;
}
.table-device th h3{
	text-align: center;
	font-weight: bold;
}
.table-device th{
	width: 25%;
}
.table-device img{
	width: 100px;
	height: 100px;
	display: block;
	margin: auto auto;
	position: relative;
	top: 0px;
}
.center-td{
	position: relative;
	margin: auto;
	top: 50px;
}
.section-devices{
	overflow: auto;
	max-height: 450px;
}
.section-devices2{
	overflow: auto;
	height: 300px;
}
.section-applications{
	overflow: auto;
	max-height: 450px;
}
.table-device thead{
	
	z-index: 1;
}
.table-device tbody{
	position: relative;
	top: 100px;
}
.table-devices tbody{
	position: relative;
	top: 300px;
}
.table-application tbody{
	position: relative;
	top: 100px;
}

.img-appsDevices a{
  border-radius: 10%;
}

.img-appsDevices {
	width: 50px;
	height: 50px;
}

/*estilos para template device*/
.section-device{
	max-width: 1000px;
	height: 450px;
	border-radius: 10px;
	background: white;
	margin: 40px auto;
}
.section-device .container-fluid , .section-device .row{
	
}
.title-device-head{
	font-size: 22px;
		
}
.section-device img{
	width: 100px;
	height: 100px;
	display: block;
	margin: auto auto;
	position: relative;
	top: 0px;
}
.img-app{
	border: solid 2px black;
}

/*iiiiiiiiiiiiiiiii*/
.button-appsDevices{
	border-radius: 100px;
}