body{
	background: #C7C7C8;
}

.section-register{
	max-width: 800px;
	margin: 40px auto;
	padding: 10px;
	background: white;
	border-radius: 10px;
}
.section-register-appsDevices{
	max-width: 1100px;
	height: auto;
	margin: 40px auto;
	padding: 0px;
	background: white;
	border-radius: 70px;
	text-align: center;
}
.titulo-register{
	max-width: 400px;
	margin: 20px auto;
	padding: 5px; 
}
.form-register{
	max-width: 600px;
    padding: 15px;
    margin: 0 auto;
}
.form-register .form-control{
	font-size: 16px;
    height: auto;
    padding: 10px;
}
.form-register .control-label{
	text-align: left;
}
.usuario-label{
	color: white;
}
.table-device th h3{
	text-align: center;
	font-weight: bold;
}
.table-device th{
	width: 25%;
}
.table-device img{
	width: 100px;
	height: 100px;
	display: block;
	margin: auto auto;
	position: relative;
	top: 0px;
}
.table-device-appsDevices{
	overflow: auto;
	max-height: 210px;
	border-radius: 100px;
}
.center-td{
	position: relative;
	margin: auto;
	top: 50px;
}
.section-devices{
	overflow: auto;
	max-height: 450px;
}
.section-devices2{
	overflow: auto;
	height: 300px;
}
.section-applications{
	overflow: auto;
	max-height: 450px;
}
.table-device thead{
	z-index: 1;
}
.table-device tbody{
	position: relative;
	top: 100px;
}
.table-devices tbody{
	position: relative;
	top: 300px;
}
table-application tbody{
	position: relative;
	top: 100px;
}

.img-appsDevices a{
  border-radius: 10%;
}

.img-appsDevices {
	width: 50px;
	height: 50px;
}

/*estilos para template device*/
.section-device{
	max-width: 1000px;
	height: 450px;
	border-radius: 10px;
	background: white;
	margin: 40px auto;
}
.section-device .container-fluid , .section-device .row{

}
}
.title-device-head{
	font-size: 22px;

}
.section-device img{
	width: 100px;
	height: 100px;
	display: block;
	margin: auto auto;
	position: relative;
	top: 0px;
}
.img-app{
	border: solid 2px black;
}

/*iiiiiiiiiiiiiiiii*/
.button-appsDevices{
	border-radius: 100px;
}

.table-device-appsDevices tbody{
	text-align: center;
}

.span a{
  	font-family: comic sans ms; 
  	font-size: 25px;
}

.span{
	position:relative;
  	top:30px;
}

.span2{
	position:relative;
  	top:-30px;
  	text-align: 25%;
}

.span2 a{
  	font-family: comic sans ms; 
  	font-size: 25px;
}

.btnVolver{
	float: right;
	position:absolute; 
	top:150px; 
	right:110px;

}
.label-details{
	top left;
}
.details p {
    color:gray;
    font-size: 50px;
    text-align: center;
    margin: 4px 0 13px;
}
.details img{
	width: 200px;
	height: 200px;
	display: block;
	margin: auto auto;
	position: relative;
	top: 0px;
}
.details2 img{
	width: 100px;
	height: 100px;
	display: block;
	margin: auto auto;
	position: relative;
	top: 0px;
}
.buscar{
	width: auto;
}
.boton-instalar a {
	font-size: 20px;
}

.select-instal{
	max-width: 400px;
	margin: 40px auto;
}
.select-instal img{
	width: 1px;
	height: 1px;
}