{% extends 'base.html' %}
{% block title %}Aplicaciones{% endblock %}
{%block head %}
	<link rel="stylesheet" href="/static/misEstilos/estilos2.css" />
	<link rel="stylesheet" href="/static/misEstilos/estiloBotonEstado.css" />
{%endblock%}
{% block botonIndice %}
	{% if user.is_authenticated %}
	<label class="usuario-label">{{user.username}}</label>
	<a href="{% url 'device_app:logout'%}" class="btn btn-default">
  		<span class="glyphicon glyphicon-chevron-left"></span> Salir
	</a>
	{%endif%}
	<a href="{% url 'device_app:appsDevices'%}" class="btn btn-default ">
  		<span class="glyphicon glyphicon-chevron"></span> Inicio
	</a>
{% endblock %}
{% block contenido %}
	<section class="section-register section-devices">
		<div class="container-fluid">
			<table class="table table-striped table-device">
				<thead>
				<tr>
					<th><h3>Aplicaciones</h3></th>
					<th><h3>Detalles</h3></th>
					<th><h3><a href="{% url 'device_app:newDevice'%}" class="btn btn-lg btn-primary "><span class = "glyphicon glyphicon-cloud"></span> Nueva Aplicacion</a></h3></th>
				</tr>
				</thead>
				<tbody>
				{% if applications %}
				{%for app in applications%}
				<tr>
					<td>
						<img src="/static/images/apps/{{app.name}}.jpg" class="img-circle">
						<label>{{app.name}}</label>
					</td>
					<td>
						<div class="center-td">
							<h4><a href="{% url 'device_app:detailsApps' app.id app.name %}">Detalles</a></h4>
						</div>
					</td>
					<td>
						<div class="center-td">	
							<a href="" class="btn btn-primary ">Ver Aplicacion <span class="glyphicon glyphicon-chevron-right"></span></a>
						</div>
					</td>
				</tr>
				{% endfor %}
				{% endif%}
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	</section>
{% endblock %}