{% extends 'base.html' %}
{% block title %}Pagina Principal{% endblock %}
{%block head %}
	<link rel="stylesheet" href="/static/misEstilos/estilos2.css" />
	<link rel="stylesheet" href="/static/misEstilos/estiloBotonEstado.css" />
{%endblock%}
{% block botonIndice %}
	{% if user.is_authenticated %}
	<label class="usuario-label">{{user.username}}</label>
	<a href="{% url 'device_app:logout'%}" class="btn btn-default">
  		<span class="glyphicon glyphicon-chevron-left"></span> Salir
	</a>
	{%endif%}
{% endblock %}
{% block contenido %}
<div>
	<div class="section-register-appsDevices" >
		<div class="span2">
			<h1><a href="{% url 'device_app:devices'%}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-th"></span> Todos los Dispositivos</a></h1>
		</div>
		<table class="table table-striped">
			<tr><td><h1>Devices</h1></td></tr>
			<tr><td></td></tr>
		</table>
		<div class="table-device-appsDevices">						
			{% if devices %}
				<ul>
				{%for device in devices%}
					<li>
						<p><img src="/static/images/{{device.tipo}}">
						<p><label>{{device.name}}</label>
						<p><a class="boton" href="{% url 'device_app:detailsDevice' device.id device.name %}">Details</a>
					</li>
				{% endfor %}
				</ul>
			{% endif%}
		</div>
		<div class="span">
			<h1><a href="{% url 'device_app:newDevice'%}" class="btn btn-lg btn-primary "><span class = "glyphicon glyphicon-cloud"></span> Nuevo Dispositivo</a></h1>
		</div>
	</div>

	<br><br>

	<div class="section-register-appsDevices" >
		<div class="span2">
			<h1><a href="{% url 'device_app:applications'%}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-th"></span> Todas las Aplicaciones</a></h1>
		</div>
		<table class="table table-striped">
			<td><h1>Applications</h1></td>
			<tr><td><br>
		</table>
		<div class="table-device-appsDevices">
			{% if applications %}
				<ul>
				{%for app in applications%}
					<li>
						<p><img src="/static/images/apps/{{app.name}}.jpg">
						<p><label>{{app.name}}</label>
						<p><a class="boton" href="{% url 'device_app:detailsApps' app.id app.name %}" >Details</a>
					</li>
				{% endfor %}
				</ul>
			{% endif%}
		</div>
		<div class="span">
			<a href="{% url 'device_app:newApplication'%}" class="btn btn-lg btn-primary "><span class = "glyphicon glyphicon-cloud"></span> Nueva Applicacion</a>
		</div>
	</div>
	
</div>
	


	
{% endblock %}