{% extends 'base.html' %}
{% block title %}Pagina Principal{% endblock %}
{%block head %}
	<link rel="stylesheet" href="/static/misEstilos/estilos2.css" />
	<link rel="stylesheet" href="/static/misEstilos/estiloBotonEstado.css" />
{%endblock%}
{% block botonIndice %}
	{% if user.is_authenticated %}
	<label class="usuario-label">{{user.username}}</label>
	<a href="{% url 'device_app:logout'%}" class="btn btn-primary">
  		<span class="glyphicon glyphicon-chevron-left"></span> Salir
	</a>
	{%endif%}
{% endblock %}
{% block contenido %}

	<section class="section-register section-devices2">
		<div class="container-fluid">
			<table class="table table-striped table-devices">
				<tr><h3>Devices</h3></tr>
				<tr>
					<ul class="pagination">
						<li class="disabled">
							<a href="#">&laquo;</a>
				  		</li>
				  		
				    			{% if devices %}
								{%for device in devices%}
								<span class="sr-only"></span></a>
									<li class="disabled">
									<div>
				    					<button class="button-appsDevices">
								
											<img src="/static/images/{{device.tipo}}" class="img-appsDevices">
										</button>
									</div>
									<div>
										<label>{{device.name}}</label>	
									</div>
									</li>

									

								<span class="sr-only"></span>			    			
								

								{% endfor %}
								{% endif%}
				    			
				  		</li>

				  		<li class="disabled">
							<a href="#">&raquo;</a>
				  		</li>
					</ul>
				</tr>
			</table>			
		</div>
	</section>

	<section class="section-register section-applications">
		<div class="container-fluid"> 
			<table class="table table-striped table-application">
				<th><h3>Applications</h3></th>
			</table>
		</div>
	</section>


	<section class="section-register section-devices">
		<div class="container-fluid">
			<table class="table table-striped table-device">
				<thead>
				<tr>
					<th><h3>Dispositivos</h3></th>
					<th><h3>Estado</h3></th>
					<th><h3>Detalles</h3></th>
					<th><h3><a href="{% url 'device_app:newDevice'%}" class="btn btn-lg btn-primary "><span class = "glyphicon glyphicon-cloud"></span> Nuevo Dispositivo</a></h3></th>
				</tr>
				</thead>
				<tbody>
				{% if devices %}
				{%for device in devices%}
				<tr>
					<td>
						<img src="/static/images/{{device.tipo}}" class="img-circle">
						<label>{{device.name}}</label>
					</td>
					<td>
						<div class="center-td">
							<div class="onoffswitch">
						<!-- estado del dispositivo -->
							{%ifequal device.status 'ON'%}	
						    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" disabled="true" checked>
						    {%else%}
						    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" disabled="true">
						    {%endifequal%}
						<!-- fin -->
						    <label class="onoffswitch-label" for="myonoffswitch">
						        <span class="onoffswitch-inner"></span>
						        <span class="onoffswitch-switch"></span>
						    </label>
							</div>
						</div>
					</td>
					<td>
						<div class="center-td">
							<h4><a>Detalles</a></h4>
						</div>
					</td>
					<td>
						<div class="center-td">	
							<a href="" class="btn btn-primary ">Ver dispositivo <span class="glyphicon glyphicon-chevron-right"></span></a>
						</div>
					</td>
				</tr>
				{% endfor %}
				{% endif%}
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	</section>
{% endblock %}