{% extends 'base.html' %}
{% block title %}Details{% endblock %}
{%block head %}
	<link rel="stylesheet" href="/static/misEstilos/estilos2.css" />
	<link rel="stylesheet" href="/static/misEstilos/estiloBotonEstado.css" />
{%endblock%}
{% block botonIndice %}
	{% if user.is_authenticated %}
	<label class="usuario-label">{{user.username}}</label>
	<a href="{% url 'device_app:logout'%}" class="btn btn-default">
  		<span class="glyphicon glyphicon-chevron-left"></span> Salir
	</a>
	{%endif%}
	<a href="{% url 'device_app:appsDevices'%}" class="btn btn-default ">
  		<span class="glyphicon glyphicon-chevron"></span> Inicio
	</a>
{% endblock %}
{% block contenido %}
<section class="section-device">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<label class="title-device-head">Dispositivo</label>
			</div>
			<div class="col-md-8">
				<label class="title-device-head">Details</label>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-4">
				<br><br><br>
				{{device.name}}
				<img src="/static/images/{{device.tipo}}" class="img-circle">
			</div>
			<div class="col-md-8">
				<table class="table table-striped table-device">
					<thead>
					<tr>
						<th><h3>Aplicaciones</h3></th>
						<th><h3>Estado</h3></th>
						<th><h3>Detalles</h3></th>
					</tr>
					</thead>
					<tbody>
					{% if apps %}
					{%for aplicacion in apps%}
					<tr>
						<td>
							<img  src="/static/images/apps/{{aplicacion.aplication.name}}.jpg" class="img-circle img-app">
							<label>{{aplicacion.aplication.name}}</label>
						</td>
						<td>
							<div class="center-td">
								<div class="onoffswitch">
							<!-- estado del dispositivo -->
								{%ifequal aplicacion.status 'ON'%}	
							    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" disabled="true" checked>
							    {%else%}
							    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" disabled="true">
							    {%endifequal%}
							<!-- fin -->
							    <label class="onoffswitch-label" for="myonoffswitch">
							        <span class="onoffswitch-inner"></span>
							        <span class="onoffswitch-switch"></span>
							    </label>
								</div>
							</div>
						</td>
						<td>
							<div class="center-td">
								<h4><a>Detalles</a></h4>
							</div>
						</td>
					</tr>
					{% endfor %}
					{% endif%}
					</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div>
		</div>
		
	</div>
</section>
{% endblock %}